* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Helvetica, "PingFang SC", "Microsoft Yahei", sans-serif;
  font-size: 14px;
}

img {
  width: 100%;
}

:root {
  --primary-color: #ff434f;
  --secondary-color: #e3e3e3;
  --text-color-lightest: #e7e9ec;
  --text-color-darker: #2e2e2e;
  --text-color-dark: #494949;
  --text-color-gray: #8b8b8b;
  --text-color-dark-gray: #727272;
  --text-color-light-gray: #c6c6c6;
  --backdrop-color: rgb(42, 42, 42, 0.69);
}

header {
  width: 100vw;
  height: 80px;
  display: grid;
  padding: 0 40px;

  grid-template-columns: 1fr 2fr;
  align-items: center;
  position: relative;
  z-index: 200;
}

.logo {
  font-size: 24px;
  font-weight: 600;
  color: var(--text-color-lightest);
}

header nav {
  justify-self: end;
}

header nav i {
  color: var(--text-color-lightest);
}

header nav a {
  color: var(--text-color-lightest);
  text-decoration: none;
  margin: 0 24px;
}

header .burger {
  display: none;
}

.glide {
  position: relative;
  top: -80px;
  z-index: 50;
}

.glide__slide img,
.glide__slide video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.slide-caption {
  position: absolute;
  z-index: 70;
  color: var(--text-color-lightest);
  text-align: center;
  max-width: 60vw;
}

.glide__slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-caption h1 {
  font-size: 54px;
  font-weight: 600;
}

.slide-caption h3 {
  font-size: 24px;
  margin: 48px 0;
}

.slide-caption.left {
  max-width: 80vw;
  text-align: left;
}

.slide-caption > * {
  opacity: 0;
}

.backdrop {
  background: var(--backdrop-color);
  z-index: 60;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.5;
}

.explor-btn {
  padding: 14px 32px;
  background-color: var(--primary-color);
  border: 0;
  border-radius: 4px;
  color: var(--text-color-lightest);
  opacity: 0.9;
  font-size: 18px;
  cursor: pointer;
  outline: none;
}

/* 内容区域 */
/* 通用样式 */

.content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

section {
  display: grid;
  justify-items: center;
  max-width: 1180px;
  padding: 0 80px;
}

.section-bg {
  position: relative;
}

.section-bg::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #f9fbfb;
  width: 100vw;
  height: 100%;
  z-index: -1;
}

.title1 {
  font-size: 34px;
  color: var(--text-color-darker);
}

.title1::after {
  content: "";
  display: block;
  width: 80%;
  height: 4px;
  background-color: var(--primary-color);
  transform: translateX(10%);
  margin-top: 14px;
}

.intro {
  margin: 28px 0 60px 0;
  color: var(--text-color-dark-gray);
  font-size: 18px;
}

/* 关于我们 */

.about-us {
  margin-bottom: 32px;
}

.features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 126px 126px;
  column-gap: 5vw;
}

.feature {
  display: grid;
  grid-template-areas:
    "icon title"
    "icon content";
  grid-template-columns: 60px 1fr;
  grid-template-rows: 1fr 3fr;
}

.feature i.fas {
  grid-area: icon;
  font-size: 34px;
  color: var(--primary-color);
}

.feature-title {
  grid-area: title;
  font-size: 18px;
  color: var(--text-color-darker);
}

.feature-content {
  grid-area: content;
  color: var(--text-color-gray);
  margin-top: 8px;
}

/* 成功案例 */
.showcases {
  max-width: unset;
  padding: 0;
  padding-top: 72px;
}

.filter-btns {
  margin-top: 54px;
  margin-bottom: 38px;
}

.filter-btn {
  margin: 0 7px;
  border: 0;
  background-color: var(--secondary-color);
  color: var(--text-color-dark-gray);
  padding: 8px 18px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.4s;
}

.filter-btn:focus,
.filter-btn:active {
  outline: none;
}

.filter-btn.active,
.filter-btn:hover {
  background-color: var(--primary-color);
  color: white;
}

.showcases .cases {
  width: 100vw;
}

.showcases .case-item {
  width: 25vw;
  height: 20vw;
  overflow: hidden;
}

.case-item img{
  height: 100%;
  object-fit: cover;
}

/* 服务流程 */
.service {
  padding-top: 131px;
}

.services {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 1fr 1fr;
  column-gap: 38px;
  row-gap: 34px;
}

.service-item {
  display: grid;
  grid-template-areas: 
    "icon title"  
    "icon content"
  ;
  grid-template-columns: 70px 1fr;
  grid-template-rows: 1fr 3fr;
  padding: 24px;
  box-shadow: 0px 0px 18px rgba(0,0,0,0.06);
}

.service-item i.fas {
  grid-area: icon;
  font-size: 42px;
  color: var(--primary-color);
  padding: 6px;
}

.service-item .service-title {
  grid-area: title;
  color: var(--text-color-darker);
  font-size: 24px;
}

.service-item .service-content {
  grid-area: content;
  color: var(--text-color-gray);
  line-height: 30px;
  font-size: 16px;
  margin-top: 8px;
}

/* 团队介绍 */
.team-intro {
  margin-top: 48px;
  padding-top: 62px;
  padding-bottom: 52px;

}

.team-members {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  column-gap: 24px;
  margin-top: 86px;
}

.team-member {
  background-color: white;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.2);
  padding-bottom: 28px;

  transition: 0.4s;
  display: grid;
  justify-items: center;
}

.profile-image {
  overflow: hidden;
}

.profile-image img {
  width: 100%;
  height: 264px;
  object-fit: cover;
  object-position: top center;
}

.team-member .name {
  margin-top: 18px;
  font-size: 18px;
  font-weight: 500;
  color: var(--text-color-dark);
}

.team-member .position {
  color: var(--text-color-dark-gray);
  margin-top: 12px;
  margin-bottom: 18px;
}

.social-links {
  width: 100%;
  max-width: 200px;
  display: flex;
  justify-content: space-between;
  padding: 0 42px;
}

.social-links li {
  list-style: none;
}

.social-links li a {
  color: var(--text-color-dark-gray);
  text-decoration: none;
}

.team-member:hover {
  transform: translateY(-20px) scale(1.05);
  box-shadow: 0px 0px 36px rgba(0,0,0,0.1);
}